* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #121212;
  padding: 10px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-logo i {
  font-size: 24px;
}

.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-library i,
.nav-library p {
  font-size: 14px;
  color: #b7b3b6;
  cursor: pointer;
}

.nav-playlist,
.nav-podcast {
  background-color: #242424;
  padding: 16px;
  border-radius: 8px;
}
